.payment-container {
    margin-top: 5%;
    border-color: grey;
    box-shadow: darkgrey;
    padding: 5rem;
    width: 20%;
    text-align: left;
    color: #f1ca89;
    font-weight: 700;
    justify-items: auto;
    background-color: #3d4a5d;
    background-image: 'linearGradient(to right, #121212, #3d4a5d)';
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 5%;
    padding: 5%
}

.payment-card {
    padding: 2rem;
    background-color: '#3d4a5d';
    background-image: 'linearGradient(to right, #121212, #3d4a5d)';
    color: #f1ca89;
    margin: 2rem !important;
}